<header>
  <div class="time-zone">
    <div>TZ</div>
  </div>

  <div class="days">
    <ul>
      {{#each day in days}}
        <li {{bind-attr style=dayStyle}}>
          {{moment day.date "ddd D/M"}}
        </li>
      {{/each}}
    </ul>
  </div>
</header>

<div>
  <ul class="time-slots" {{bind-attr style=timeSlotsStyle}}>
    {{#each timeSlot in headerTimeSlots}}
      <li {{bind-attr style=headerTimeSlotStyle}}>{{moment timeSlot.time "h A"}}</li>
    {{/each}}
  </ul>

  <ul class="days">
    {{#each day in days}}
      <li {{bind-attr style=dayStyle}}>
        <ul class="times">
          {{#each timeSlot in timeSlots}}
            <li>
              {{as-calendar-time timeSlot=timeSlot day=day calendar=this}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
