<header>
  <div class="time-zone">
    <div>
      {{#rl-dropdown-container class="dropdown"}}
        {{#rl-dropdown-toggle tagName="a"}}
          <span>{{selectedTimeZoneOption.abbreviation}}</span>
          <i></i>
        {{/rl-dropdown-toggle}}

        {{#rl-dropdown tagName="ul" class="bottom" closeOnChildClick=true}}
          {{#each timeZoneOption in allTimeZoneOptions}}
            <li>
              {{as-calendar/time-zone-option
                timeZoneOption=timeZoneOption
                calendar=this}}
            </li>
          {{/each}}
        {{/rl-dropdown}}
      {{/rl-dropdown-container}}
    </div>
  </div>

  <div class="days">
    <ul>
      {{#each day in days}}
        <li style={{dayStyle}} class="{{if day.isSelected "is-selected"}}">
          {{#liquid-with day.localValue as localValue use="toDown"}}
            {{moment localValue "ddd D MMM"}}
          {{/liquid-with}}
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="navigation">
    <div>
      {{#tool-tipster
        title="Previous Week"
        position="bottom"
        tagName="span"}}
        <a class="previous-week" {{action "navigateWeek" -1}}></a>
      {{/tool-tipster}}

      {{#tool-tipster
        title="Current Week"
        position="bottom"
        tagName="span"}}
        <a {{action "goToCurrentWeek"}} class="current-week {{if isShowingCurrentWeek 'selected'}}"></a>
      {{/tool-tipster}}

      {{#tool-tipster
        title="Next Week"
        position="bottom"
        tagName="span"}}
        <a class="next-week" {{action "navigateWeek" 1}}></a>
      {{/tool-tipster}}
    </div>
  </div>
</header>

<div>
  {{partial "components/as-calendar/time-slots"}}

  <ul class="days">
    {{#each day in days}}
      <li style={{dayStyle}} class="{{if day.isSelected "is-selected"}}">
        <ul class="times">
          {{#each timeSlot in timeSlots}}
            <li>
              {{as-calendar/time timeSlot=timeSlot day=day calendar=this}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>

  {{partial "components/as-calendar/time-slots"}}
</div>
