<header>
  <div class="time-zone">
    <div>
      {{#rl-dropdown-container class="dropdown"}}
        {{#rl-dropdown-toggle tagName="a"}}
          {{selectedTimeZoneOption.abbreviation}}
        {{/rl-dropdown-toggle}}

        {{#rl-dropdown tagName="ul" class="bottom" closeOnChildClick=true}}
          {{#each timeZoneOption in allTimeZoneOptions}}
            <li>
              {{as-calendar/time-zone-option
                timeZoneOption=timeZoneOption
                calendar=this}}
            </li>
          {{/each}}
        {{/rl-dropdown}}
      {{/rl-dropdown-container}}
    </div>
  </div>

  <div class="days">
    <ul>
      {{#each day in days}}
        <li {{bind-attr style=dayStyle}}>
          {{#liquid-with day.localValue as localValue use="toDown"}}
            {{moment localValue "ddd D/M"}}
          {{/liquid-with}}
        </li>
      {{/each}}
    </ul>
  </div>
</header>

<div>
  <ul class="time-slots" {{bind-attr style=timeSlotsHeaderStyle}}>
    {{#each timeSlot in headerTimeSlots}}
      <li {{bind-attr style=headerTimeSlotStyle}}>
        {{#liquid-with timeSlot.localValue as localValue use="toDown"}}
          {{moment localValue "h A"}}
        {{/liquid-with}}
      </li>
    {{/each}}
  </ul>

  <ul class="days">
    {{#each day in days}}
      <li {{bind-attr style=dayStyle}}>
        <ul class="times">
          {{#each timeSlot in timeSlots}}
            <li>
              {{as-calendar/time timeSlot=timeSlot day=day calendar=this}}
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
</div>
