<table>
  <thead>
    <tr>
      <th>TZ</th>

      {{#each day in days}}
        <th>{{moment day "ddd D/M"}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each timeSlot in timeSlots}}
      <tr>
        {{#if timeSlot.showHeader}}
          <th {{bind-attr rowspan=timeSlot.headerSpan}}>
            {{moment timeSlot.time "h:mm a"}}
          </th>
        {{/if}}
        
        {{#each date in timeSlot.dates}}
          <th {{bind-attr class=date.class}} {{action "setValue" date.value}}></th>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
