<table>
  {{#each emails as |email|}}
    <tr {{action "viewEmail" email}}>
      <td class="subject">
        {{email.subject}}
      </td>
      <td class="from">
        {{extract-name-from-email email.from}}
      </td>
      <td class="sent-at">
        {{moment email.sentAt "D MMM YYYY"}} ({{ago email.sentAt}})
      </td>
    </tr>
  {{/each}}
</table>

{{page-numbers content=emails}}
