<div class="form">
  {{#as-form model=model as |form|}}
    <div class="header">
      {{#liquid-if isEditingHeader}}
        {{#as-form/fieldset}}
          {{#as-form/field name="template" label="Template" classNameBindings=":form-select"}}
            <select name="template" onchange={{action "changeSelectedTemplateId" value="target.value"}}>
              <option value="">Choose a template...</option>

              {{#if personalTemplates}}
                <optgroup label="Personal">
                  {{#each personalTemplates as |template|}}
                    <option value={{template.id}} selected={{eq template selectedTemplate}}>
                      {{template.name}}
                    </option>
                  {{/each}}
                </optgroup>
              {{/if}}

              {{#if globalTemplates}}
                <optgroup label="Global">
                  {{#each globalTemplates as |template|}}
                    <option value={{template.id}} selected={{eq template selectedTemplate}}>
                      {{template.name}}
                    </option>
                  {{/each}}
                </optgroup>
              {{/if}}
            </select>
          {{/as-form/field}}

          {{as-form/input form=form name="subject" label="Subject"}}
          {{as-form/input form=form name="recipients" label="To"}}
          {{as-form/input form=form name="from" label="From"}}
          {{as-form/input form=form name="cc" label="CC"}}
          {{as-form/input form=form name="bcc" label="BCC"}}
        {{/as-form/fieldset}}
      {{else}}
        <dl>
          <dt>Template:</dt>

          {{#if selectedTemplate}}
            <dd>{{selectedTemplate.name}}</dd>
          {{else}}
            <dd>&nbsp;</dd>
          {{/if}}

          <dt>Subject:</dt>

          {{#if model.subject}}
            <dd>{{model.subject}}</dd>
          {{else}}
            <dd>&nbsp;</dd>
          {{/if}}

          {{#if model.recipients}}
            <dt>To:</dt>
            <dd>{{model.recipients}}</dd>
          {{/if}}

          {{#if model.from}}
            <dt>From:</dt>
            <dd>{{model.from}}</dd>
          {{/if}}

          {{#if model.cc}}
            <dt>CC:</dt>
            <dd>{{model.cc}}</dd>
          {{/if}}

          {{#if model.bcc}}
            <dt>BCC:</dt>
            <dd>{{model.bcc}}</dd>
          {{/if}}
        </dl>
      {{/liquid-if}}

      <a {{action "toggleIsEditingHeader"}}>
        {{#if isEditingHeader}}
          Save Settings
        {{else}}
          Change Settings
        {{/if}}
      </a>
    </div>

    {{#liquid-if showPreview use="crossFade"}}
      <article class="preview">
        <pre>{{renderedBody}}</pre>
      </article>
    {{else}}
      <div class="form">
        {{#liquid-if renderedBodyError}}
          <div class="alert">
            {{renderedBodyError}}
          </div>
        {{/liquid-if}}

        {{#as-form/fieldset}}
          {{as-form/textarea
            form=form
            name="body"
            label="Body"}}
        {{/as-form/fieldset}}
      </div>
    {{/liquid-if}}
  {{/as-form}}
</div>
