<header>
  <h1 class="name">{{feature.name}}</h1>
  <div class="owner">
    <img class="avatar avatar-large" src={{owner.avatarUrl}} title={{owner.name}} alt={{owner.name}}>
  </div>
</header>

<div class="brief-description">
  {{feature.briefDescription}}
</div>

<div class="participate">
  <span>{{feature.testers.length}} participants.</span>

  {{#if currentUser.model.developer}}
    {{#link-to 'labs.edit' feature.id}}Edit{{/link-to}}
  {{/if}}

  {{#if canParticipate}}
    <button {{action "toggleParticipation"}} class={{participationButtonClass}}>{{participationButtonText}}</button>
  {{else}}
    {{#tool-tipster
      class="disabled-tooltip"
      title="This feature has reached the maximum number of testers."
      position="top"
      tagName="span"
      maxWidth=400}}
      <button class="disabled">Join</button>
    {{/tool-tipster}}
  {{/if}}
</div>
