<li>
  <header>
    <h1 class="name">{{feature.name}}</h1>
    <div class="owner">
      <img class="avatar avatar-large" src={{owner.avatarUrl}} title={{owner.name}} alt={{owner.name}}>
    </div>
  </header>

  <div class="brief-description">
    {{feature.briefDescription}}
  </div>

  <div class="testers">
    <span>{{feature.testers.length}} participants.</span>
  </div>

  <div class="participate">
    {{#if canParticipate}}
      <button {{action "toggleParticipation"}} class={{participationButtonClass}}>{{participationButtonText}}</button>
    {{else}}
      <span>This feature has reached the maximum number of testers.</span>
    {{/if}}
  </div>
</li>
