<div>
  <p><i {{bind-attr class=icon}}></i></p>
  <p><span>Your {{sectionName}} will show up here soon</span></p>
  <p>While we're working to build this section, you can still access {{sectionName}} on the old system.</p>
  <p><a class="redirect-link" {{bind-attr href=externalLink}}>View {{sectionName}} in the old system</a></p>
</div>