<div class="details">
  <div class="priority">
    <i class="{{project.status}}"></i>
  </div>

  <span class="name">{{project.name}}</span> -
  <span class="codename">{{project.codename}}</span>
  <small>{{project.clientCode}}</small>
</div>

<div class="members">
  {{as-avatar person=project.lead class="lead"}}

  {{#each member in nonLeadMembers}}
    {{as-avatar person=member}}
  {{/each}}
</div>

<div class="stats">
  <div class="requested">
    <span class="count">{{project.notScheduledInteractionsCount}}</span> Requested
  </div>

  <div class="upcoming">
    <span class="count">{{project.scheduledInteractionsCount}}</span> Upcoming
  </div>

  <div class="delivered">
    <span class="count">{{project.deliveredAdvisorsCount}}</span> Delivered
  </div>
</div>
