<div class="details">
  <div class="priority">
    <i class="{{project.status}}"></i>
  </div>

  <span class="name">{{project.name}}</span> -
  <span class="codename">{{project.codename}}</span>
  <small>{{project.clientCode}}</small>
</div>

<div class="members">
  {{as-avatar person=project.lead class="lead"}}

  {{#each member in nonLeadMembers}}
    {{as-avatar person=member}}
  {{/each}}
</div>

<div class="stats">
  <div class="requested {{if project.notScheduledInteractionsCount 'active'}}">
    {{project.notScheduledInteractionsCount}} Requested
  </div>

  <div class="upcoming {{if project.scheduledInteractionsCount 'active'}}">
    {{project.scheduledInteractionsCount}} Upcoming
  </div>

  <div class="delivered {{if project.deliveredAdvisorsCount 'active'}}">
    {{project.deliveredAdvisorsCount}} Delivered
  </div>
</div>
