<div>
  <p><a {{bind-attr href=externalPath}}><i></i></a></p>
  <p><span>Your {{pageName}} will show up here soon</span></p>
  <p>While we're working to build this section, you can still access {{pageName}} on the old system.</p>
  <p><a class="redirect-link" {{bind-attr href=externalPath}}>View {{pageName}} in the old system</a></p>
</div>