<div class="front">
  <header>
    <h1>{{title}}</h1>

    {{yield}}
  </header>

  <div class="content">
    <section class="description">
      <div class="avatar-container">
        {{as-avatar person=person showTooltip=false alt=person.name}}
      </div>

      <section class="details">
        <a target="_blank" class="name" href={{person.pistachioUrl}}>{{person.name}}</a>

        {{#tool-tipster
          title=person.currentPosition
          position="bottom-left"
          tagName="span"
          class="current-position"
          maxWidth=400}}
          {{person.currentPosition}}
        {{/tool-tipster}}
      </section>
    </section>

    <section class="contact">
      <ul>
        <li class="phone-number">
          <i></i>
          <span>{{mainPhoneNumber}}</span>
        </li>
      </ul>
    </section>
  </div>

  <footer>
    <span><a {{action "flip"}}>More Information</a></span>
  </footer>
</div>

<div class="back">
  <header>
    <h1><a {{action "flip"}}><i class="back-icon"></i> {{person.name}}</a></h1>
  </header>

  <div class="content">
    <section class="contact">
      <ul>
        {{#each email in person.emails}}
          <li class="email">
            <i></i>
            <span>{{email}}</span>
          </li>
        {{/each}}

        {{#each phoneNumber in person.phoneNumbers}}
          <li class="phone-number">
            <i></i>
            <span>{{phoneNumber}}</span>
          </li>
        {{/each}}
      </ul>
    </section>
  </div>
</div>