<header>
  <div class="priority-select-label">
    <span>Filter by priority:</span>
  </div>

  <div class="priority-select">
    <ul>
      {{#link-to (query-params filterPriority="high") tagName="li" class="high"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="medium") tagName="li" class="medium"}}
        <button></button>
      {{/link-to}}

      {{#link-to (query-params filterPriority="low") tagName="li" class="low"}}
        <button></button>
      {{/link-to}}
    </ul>
  </div>
</header>

{{#if arrangedContent}}
  {{#sortable-group tagName="ul" onChange="reorderProjects" as |group|}}
    {{#each arrangedContent as |project|}}
      {{#sortable-item tagName="li" model=project group=group handle=".handle"}}
        {{#if draggable}}
          <div class="handle"></div>

          <div class="content">
            {{component listItemComponent project=project onProjectClick="onProjectClick"}}
          </div>
        {{else}}
          {{component listItemComponent project=project onProjectClick="onProjectClick"}}
        {{/if}}
      {{/sortable-item}}
    {{/each}}
  {{/sortable-group}}
{{else}}
  <div class="empty-message">There are no {{filterPriority}} priority projects.</div>
{{/if}}
