<div class="bar">
  {{#as-progress-indicator promise=requestPromise spinnerColor="#ffffff"}}
    <i></i>
  {{/as-progress-indicator}}

  {{input
    type="text"
    placeholder="Jump to advisors, client, projects and more..."
    value=query
    focus-in="activate"
    focus-out="clear"}}
</div>

<div class="actions">
  {{#liquid-if isActive use="crossFade"}}
    <div class="close" {{action "clear"}}>
      <button title="Close"></button>
    </div>
  {{else}}
    <div class="content">
    </div>
  {{/liquid-if}}
</div>

{{#liquid-if isActive containerless=true use="crossFade"}}
  <div class="results">
    {{#liquid-if requestPromise.isFulfilled use="crossFade"}}
      {{#if results}}
        {{#each allSections as |section|}}
          <section>
            <div class="title">{{section.title}}</div>
            <ul>
              {{#each section.results as |result|}}
                <li>
                  {{as-quick-jump-result result=result tagName="article" root=this}}
                </li>
              {{/each}}
            </ul>
          </section>
        {{/each}}
      {{else}}
        <div class="empty-message">
          <strong>Your search did not match any documents.</strong>
          <span>Make sure that all words are spelled correctly.</span>
        </div>
      {{/if}}
    {{/liquid-if}}
  </div>
{{/liquid-if}}
