<header>
  <img src="assets/images/logo.png" alt="Phoenix"/>
  <h1>Phoenix</h1>
</header>

{{#as-scrollable tagName="nav"}}
  <header>
    <div class="toggle-collapse">
      <button {{action "toggleCollapse"}}></button>
    </div>

    <h1>Menu</h1>
  </header>

  <ul>
    {{#each item in navigationItems}}
      <li {{bind-attr class=item.id}}>
        {{#link-to item.routeName}}<i></i><span>{{item.name}}</span>{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/as-scrollable}}

<section class="user-session">
  <div class="toggle-actions">
    {{#rl-dropdown-container class="dropdown"}}
      {{#rl-dropdown-toggle class="actions"}}{{/rl-dropdown-toggle}}

      {{#rl-dropdown tagName="ul" class="top" closeOnChildClick=true}}
        <li><a {{action "logout"}}>Logout</a></li>
      {{/rl-dropdown}}
    {{/rl-dropdown-container}}
  </div>

  <div class="picture">
    <img alt="Profile Picture"
      {{bind-attr src=currentUser.avatarUrl title=currentUser.initials}} />
  </div>

  <div class="name">{{currentUser.name}}</div>
</section>
