<div class="select">
  <select name={{name}} onchange={{action "changeSelectedTeam" value="target.value"}}>
    <option value="">{{prompt}}</option>

    {{#each teams as |team|}}
      <option value={{team.id}} selected={{eq teamId team.id}}>
        {{team.name}}
      </option>
    {{/each}}
  </select>
</div>
