<div class="priority">
  {{as-priority-select project=project}}
</div>

<div class="details">
  <span class="name">{{project.name}}</span> -
  <span class="codename">{{project.codename}}</span>
  <small>{{project.clientCode}}</small>
</div>


<div class="members">
  {{as-avatar person=project.lead class="lead"}}

  {{#each nonLeadMembers as |member|}}
    {{as-avatar person=member}}
  {{/each}}
</div>

<div class="progress {{unless hasDeliveryTarget 'no-target'}}">
  {{as-progress-bar ratio=project.progress}}

  <div class="details">
    <div class="delivered">
      <span class="count">
        {{project.deliveredAdvisorsCount}}
      </span>

      <span class="label">delivered</span>
    </div>

    <div class="target">
      <span class="count">
        {{project.deliveryTarget}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
