<div class="angle">
  <div class="title">{{title}}</div>

  {{each sortedAngleTeamMemberships
    itemController="angleTeamMembership"
    itemView="angleTeamMemberships"}}

  {{#if hasUsers}}
    <div class="member-controls">
      <button
        class="add-member dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        title="Add Member">
        <span class="fa fa-plus"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li class="search">
          <i class="fa fa-search"></i>
          {{input value=query}}

          {{#if query}}
            <span class="fa fa-times-circle clear"></span>
          {{/if}}
        </li>

        <ul class="users">
          {{#each shownUsers}}
            <li class="user">
              <a {{action "addAngleTeamMembership" this}} href>
                <span>
                  <img class="avatar" {{bind-attr src=avatarUrl}}></img>
                </span>

                <span class="full-name">{{name}}</span>
                <span class="initials"> ({{initials}})</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </ul>
    </div>
  {{/if}}
</div>
