<div class="project">
  <div class="controls">
    <div
      class="state-border"
      {{action "cycleStatus"}}
      {{bind-attr class=status}}
      title="Change Priority">
      <div class="hover-actions">
        {{#if isSortable}}
          <div class="drag-handler"></div>
        {{/if}}

        {{#if hasAngles}}
          <a href title="Expand">
            <i
              class="fa-chevron expand"
              {{action "toggleOpen"}}
              {{bind-attr class="isOpen:fa-chevron-up:fa-chevron-down"}}>
            </i>
          </a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="name" {{bind-attr class=hasAngles}}>
    <div>
      <a {{bind-attr href=detailsUrl}}>{{name}}</a>
      <small>{{clientCode}}</small>
    </div>
  </div>

  <div class="members">
    <div class="project-lead">
      <img {{bind-attr src=analyst_1.avatarUrl title=analyst_1.name}} alt=""></img>
    </div>

    <div class="project-team">
      {{#each users}}
        <img {{bind-attr src=avatarUrl title=name}} alt=""></img>
      {{/each}}
    </div>
  </div>

  <div class="counts">
    <div class="target-counts">
      <div class="target-count text-info" title="Upcoming Interactions">
        <i class="fa-heading fa-phone"></i>
        <span>{{upcomingInteractionsCount}}</span>
      </div>

      <div class="target-count text-info" title="Left to Schedule">
        <i class="fa-heading fa-calendar"></i>
        <span>{{leftToScheduleAdvisorsCount}}</span>
      </div>

      <div class="target-count text-success" title="Delivered Today">
        <i class="fa-heading fa-paper-plane-o"></i>
        <span>{{proposedAdvisorsCount}}</span>
      </div>

      <div class="target-count text-danger" title="Left to Deliver Today">
        <i class="fa-heading fa-trophy"></i>
        <span class="real-target">{{remainingTarget}}</span>
      </div>
    </div>
  </div>
</div>

{{#if isOpen}}
  {{partial "project/angles"}}
{{/if}}
