<div class="bar">
  {{#as-progress-indicator promise=requestPromise}}
    <i></i>
  {{/as-progress-indicator}}

  {{input
    type="text"
    placeholder="Jump to advisors, client, projects and more..."
    value=query
    focus-in="onBarFocusIn"
    targetObject=view
  }}
</div>

<div class="actions">
  {{#liquid-if view.isActive use="crossFade" class="liquid-actions"}}
    <button class="close" title="Close" {{action "clear"}}></button>
  {{else}}
    {{#as-dropdown title="Change App" align="left" class="change-app" buttonClass="change-app" listClass="apps"}}
      <li><a href="#">Metrics</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">Clients</a></li>
    {{/as-dropdown}}

    {{#as-dropdown title="Add" align="left" class="add" buttonClass="add" listClass="add-actions"}}
      <li><a href="#">New advisor</a></li>
      <li><a href="#">New project</a></li>
    {{/as-dropdown}}
  {{/liquid-if}}
</div>

{{#liquid-if view.isActive use="crossFade" class="liquid-results"}}
  <div class="results">
    {{#liquid-if results use="crossFade" class="liquid-content"}}
      {{#each allSections}}
        <section>
          <h1>{{title}}</h1>

          <ul>
            {{#each result in results}}
              <li>
                {{render "quick-jump/result" result tagName="article"}}
              </li>
            {{/each}}
          </ul>
        </section>
      {{/each}}
    {{/liquid-if}}
  </div>
{{/liquid-if}}
