<ul>
  {{#each}}
    <li>
      <article>
        {{as-avatar user=user}}
        {{super-number value=deliveryTarget}}
        <button class="remove"></button>
      </article>
    </li>
  {{/each}}
</ul>

{{#as-dropdown title="Add Member" class="add" align="bottom"}}
  <li class="search">
    <i></i>
    {{input type="text" value=query click=view.onSearchClick}}
  </li>

  <section class="results">
    {{#each team.members}}
      {{#as-dropdown-item}}
        <a>
          {{as-avatar user=this}}
          {{name}} <small>({{initials}})</small>
        </a>
      {{/as-dropdown-item}}
    {{/each}}
  </section>
{{/as-dropdown}}
