<div class="priority">
  {{#as-dropdown
    title="Change Priority"
    align="right"
    classNameBindings=":change-priority :priority status"}}
    {{#as-dropdown-item class="low" action="setPriority" param="low"}}
      <button></button>
    {{/as-dropdown-item}}

    {{#as-dropdown-item class="medium" action="setPriority" param="medium"}}
      <button></button>
    {{/as-dropdown-item}}

    {{#as-dropdown-item class="high" action="setPriority" param="high"}}
      <button></button>
    {{/as-dropdown-item}}
  {{/as-dropdown}}
</div>

{{#link-to "team.project" this tagName="div" class="details"}}
  <h1>
    <span>{{name}}</span>
    <small>{{clientCode}}</small>
  </h1>
{{/link-to}}

<div class="members">
  {{as-avatar user=lead class="lead"}}

  {{#each members}}
    {{as-avatar user=this}}
  {{/each}}
</div>

<div class="progress">
  {{as-progress-bar ratio=progress}}

  <div class="details">
    <div class="delivered">
      <span class="count">
        {{deliveredAdvisorsCount}}
      </span>

      <span class="label">delivered</span>
    </div>

    <div class="target">
      <span class="count">
        {{deliveryTarget}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
