<header>
  {{as-priority-select project=model}}

  <h1>
    <span>
      <a {{bind-attr href=pistachioProjectUrl}} target="_blank">
        {{name}}
      </a>
    </span>
    <small>{{clientCode}}</small>
  </h1>

  <ul class="stats">
    <li>
      <span class="count">{{scheduledInteractionsCount}}</span>
      <span class="name">Upcoming</span>
    </li>

    <li>
      <span class="count">{{notScheduledInteractionsCount}}</span>
      <span class="name">Left to Schedule</span>
    </li>

    <li>
      <span class="count">{{deliveredAdvisorsCount}}</span>
      <span class="name">Delivered</span>
    </li>
  </ul>
</header>

<section class="angles">
  <ul>
    {{#each angles}}
      <li>
        <article>
          <h1>{{title}}</h1>

          {{render "team.angle-memberships" this tagName="section"}}
        </article>
      </li>
    {{/each}}
  </ul>
</section>
