<div class="confirmation {{confirmationStateClass}}">
  <span>{{confirmationMessage}}</span>
  <a {{action "toggleConfirmation"}}>Back</a>
  <button type="submit" {{action "cancel" true}} class={{confirmationClass}} disabled={{requestPromise.isLoading}}>
    {{#liquid-if requestPromise.isLoading}}
      Withdrawing...
    {{else}}
      Yes, withdraw the interaction
    {{/liquid-if}}
  </button>

  <button type="submit" {{action "cancel" false}} class={{confirmationClass}} disabled={{requestPromise.isLoading}}>
    {{#liquid-if requestPromise.isLoading}}
      Cancelling...
    {{else}}
      No, thanks
    {{/liquid-if}}
  </button>
</div>
