{{#if visibleContent}}
  <ul>
    {{#each visibleContent as |model|}}
      <li>
        {{partial listItemTemplateName}}
      </li>
    {{/each}}
  </ul>

  {{#if hasMoreItems}}
    <div class="toggle-collapse" title={{collapseTitle}} {{action "toggleCollapse"}}></div>
  {{/if}}
{{else}}
  <div class="empty-message">{{fullEmptyMessage}}</div>
{{/if}}
