<header>
  <div class="date-time">
    <span class="date">{{moment scheduledCallTime "D MMMM"}}</span>
    <span class="time">{{moment scheduledCallTime "h:mm A"}}</span>
  </div>

  <div class="content">
    <h1>
      <span>{{advisor.name}}</span>

      <small>
        <a target="_blank" {{bind-attr href=project.pistachioUrl}}>
          {{project.name}}
        </a>
      </small>
    </h1>

    <a target="_blank" {{bind-attr href=pistachioUrl}}>View interaction page</a>
  </div>
</header>

<section class="profiles">
  <ul>
    {{#each profile in profiles}}
      <li>
        {{#as-profile
          person=profile.person
          title=profile.title
          class=profile.class}}
          {{#if profile.person.timeZone}}
            <div class="call-time">
              {{#tool-tipster title="Local Call Time"}}
                <i></i>
                <span>{{moment-timezone scheduledCallTime profile.person.timeZone "h:mm A z"}}</span>
              {{/tool-tipster}}
            </div>
          {{/if}}
        {{/as-profile}}
      </li>
    {{/each}}
  </ul>
</section>

<section class="checklist-items">
  <header>
    {{as-checklist-status items=checklistItems}}

    <a target="_blank" {{bind-attr href=checklistUrl}}>Show checklist</a>
  </header>

  <ul>
    {{#each checklistItem in checklistItems itemController="dashboard.interaction.checklistItem"}}
      <li {{bind-attr class="checklistItem.completed"}}>{{checklistItem.title}}</li>
    {{/each}}
  </ul>
</section>
