{{#as-side-panel class="interaction" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  {{#as-side-panel/main}}
    {{as-side-panel/header}}

    {{#as-side-panel/content}}
      <div>
        <header>
          <div class="date">
            <span class="month">{{moment model.scheduledCallTime "MMMM"}}</span>
            <span class="day">{{moment model.scheduledCallTime "D"}}</span>
          </div>

          <div class="content">
            <span class="primary-contact">
              {{as-avatar person=model.primaryContact}}
            </span>

            <h1>
              <span>{{model.advisor.name}}</span>

              <small>
                <a target="_blank" href={{model.project.pistachioUrl}}>
                  {{model.project.name}}
                </a>
              </small>
            </h1>

            <span class="call-times">
              <a class="pistachio-link" href={{schedulingTabUrl}} target="_blank">
                {{#tool-tipster title="View scheduling tab"}}
                  <i></i>
                {{/tool-tipster}}
              </a>

              <span class="local-time">
                {{moment model.scheduledCallTime "h:mm A"}}
              </span>

              {{#each profiles as |profile|}}
                {{#if profile.person.timeZone}}
                  <span class={{profile.class}}>
                    <span class="highlight">{{local-moment model.scheduledCallTime profile.person.timeZone "z"}}</span>
                    <span>{{local-moment model.scheduledCallTime profile.person.timeZone "h:mm A"}}</span>
                  </span>
                {{/if}}
              {{/each}}
            </span>

            {{#if model.speak}}
              <ul class="speak-details">
                <li>
                  <a class="pistachio-link" href={{model.pistachioUrl}} target="_blank">
                  {{#tool-tipster title="View interaction page"}}
                    <i></i>
                  {{/tool-tipster}}
                </a>
              </li>

                <li>
                  <span class="speak-title">Speak No.</span>
                  <span class="speak-detail">{{model.speakPhoneNumber}}</span>
                </li>

                <li>
                  <span class="speak-title">Code</span>
                  <span class="speak-detail">{{model.speakCode}}</span>
                </li>
              </ul>
            {{/if}}

            <a target="_blank" href={{model.pistachioUrl}}>View interaction page</a>
          </div>
        </header>

        <section class="profiles">
          <ul>
            {{#each profiles as |profile|}}
              <li>
                {{as-profile person=profile.person title=profile.title class=profile.class}}
              </li>
            {{/each}}
          </ul>
        </section>

        <section class="checklist-items">
          <header>
            {{as-checklist-status items=checklistItems}}

            <a target="_blank" href={{model.checklistUrl}}>Show checklist</a>
          </header>

          <ul>
            {{#each checklistItems as |checklistItem|}}
              <li class={{if checklistItem.completed 'completed'}}>{{checklistItem.title}}</li>
            {{/each}}
          </ul>
        </section>
      </div>
    {{/as-side-panel/content}}

    {{#as-side-panel/footer}}
      {{#as-action-group}}
        {{#as-action action="toggleDrawer"}}
          Complete
        {{/as-action}}

        {{#as-action action="changeTime"}}
          Change Time
        {{/as-action}}

        {{#as-action
          showConfirmation=true
          action="cancelInteraction"
          buttonClass="error cancel"
          confirmationButtonLabel="Yes, Cancel Interaction"
          confirmationMessage="Are you sure you want to cancel the interaction? This will delete the system calendar invitation."
          requestPromise=requestPromise}}
          Cancel Interaction
        {{/as-action}}

        {{#as-action
          showConfirmation=true
          action="cancelRequest"
          buttonClass="error cancel"
          confirmationButtonLabel="Yes, Cancel Request"
          confirmationMessage="Are you sure you want to cancel the request?"
          requestPromise=requestPromise}}
          Cancel Request
        {{/as-action}}

        {{#as-action
          showConfirmation=true
          action="withdrawAndCancelRequest"
          buttonClass="error"
          confirmationButtonLabel="Yes, Cancel and Withdraw Request"
          confirmationMessage="Are you sure you want to cancel the interaction and withdraw from client compliance?"
          requestPromise=requestPromise}}
          Cancel and Withdraw Request
        {{/as-action}}
      {{/as-action-group}}
    {{/as-side-panel/footer}}
  {{/as-side-panel/main}}

  {{#as-side-panel/drawer}}
    {{#as-side-panel/content}}
      <section class="completion form">
        {{#as-form model=completionForm action="chargeClient" as |form|}}
          {{#as-form/fieldset}}
            <h1>Client Completion</h1>
            {{as-form/select
              form=form
              name="interactionType"
              label="Interaction Type"
              content=completionForm.interactionTypesForSelect
              disabled=completionForm.editingDisabled
              optionGroupPath="classification"
            }}

            {{#if completionForm.isDurationBased}}
              {{as-form/input
                name="duration"
                form=form
                disabled=completionForm.editingDisabled
                label="Call Duration (minutes)"}}
            {{/if}}

            {{#if completionForm.isCustomCredit}}
              {{as-form/input
                name="customCredits"
                form=form
                disabled=completionForm.editingDisabled
                label="Credits"}}
            {{/if}}

            {{#if completionForm.isPriceBased}}
              {{as-form/input
                name="customRevenue"
                form=form
                disabled=completionForm.editingDisabled
                label="Price (USD)"}}
            {{/if}}

            {{as-form/select
              name="quality"
              form=form
              label="Call Quality"
              disabled=completionForm.editingDisabled
              content=completionForm.qualityOptionsForSelect}}

            {{#if model.speak}}
              {{as-form/select
                name="speakQuality"
                form=form
                label="Speak"
                disabled=completionForm.editingDisabled
                content=completionForm.speakQualityOptionsForSelect}}
            {{else}}
              <div class="report-problem">
                <a href="https://docs.google.com/a/alphasights.com/forms/d/1VSvf3y9jMgY3YgTaAABAzUfHBkvdLMi1cVO7M0stuZg/viewform" target='_blank'>
                  Problem with the call? Report it here.
                </a>
              </div>
            {{/if}}

            {{#if completionForm.speakExplanationNeeded}}
              {{as-form/input
                name="speakExplanation"
                form=form
                disabled=completionForm.editingDisabled
                label="More info"}}

              {{as-form/select
                name="speakExplanationOriginator"
                form=form
                disabled=completionForm.editingDisabled
                label="Who Reported"
                prompt=""
                content=completionForm.speakExplanationOriginatorsForSelect}}
            {{/if}}
          {{/as-form/fieldset}}

          {{#as-action-group}}
            {{#liquid-if completionForm.editingDisabled  use="crossFade"}}
              {{#if (eq currentUser.id model.primaryContact.id)}}
                {{#as-action action="amendCompletion"}}Amend{{/as-action}}
              {{else}}
                <span>The interaction has already been completed. To amend, please visit the <a href={{completionUrl}} class="url" target="_blank">completion page</a>.</span>
              {{/if}}
            {{else}}

              {{#as-form/submit form=form requestPromise=completionForm.requestPromise}}
                Charge Client
              {{/as-form/submit}}
            {{/liquid-if}}
          {{/as-action-group}}
        {{/as-form}}
      </section>

      <section class="advisor-payment form">
        {{#as-form model=advisorPaymentForm action="toggleAdvisorPayment" as |form|}}
          {{#as-form/fieldset}}
            <h1>Advisor Payment</h1>
          {{/as-form/fieldset}}
            {{#as-action-group}}
              <div class="pay-advisor">
                {{#liquid-if model.paymentRequired use="crossFade"}}
                  <a href={{invoiceUrl}} target="_blank">Pay Advisor</a>
                {{else}}
                  <span>The advisor will not be paid.</span>
                {{/liquid-if}}
              </div>

              {{#as-form/submit form=form requestPromise=form.requestPromise}}
                {{#if model.paymentRequired}}
                  Don't Pay
                {{else}}
                  Change
                {{/if}}
              {{/as-form/submit}}
            {{/as-action-group}}
        {{/as-form}}
      </section>
    {{/as-side-panel/content}}
    {{#as-side-panel/footer}}
      {{#as-action-group}}
        {{#as-action action="close" class="close"}}Close{{/as-action}}
      {{/as-action-group}}
    {{/as-side-panel/footer}}
  {{/as-side-panel/drawer}}

{{/as-side-panel}}
