{{#as-side-panel class="interaction" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  <div>
    <header>
      <div class="date">
        <span class="month">{{moment model.scheduledCallTime "MMMM"}}</span>
        <span class="day">{{moment model.scheduledCallTime "D"}}</span>
      </div>

      <div class="content">
        <span class="primary-contact">
          {{as-avatar person=model.primaryContact}}
        </span>

        <h1>
          <span>{{model.advisor.name}}</span>

          <small>
            <a target="_blank" href={{model.project.pistachioUrl}}>
              {{model.project.name}}
            </a>
          </small>
        </h1>

        <span class="call-times">
          <span class="local-time">
            {{moment model.scheduledCallTime "h:mm A"}}
          </span>

          {{#each profile in profiles}}
            {{#if profile.person.timeZone}}
              <span class={{profile.class}}>
                <span>{{local-moment model.scheduledCallTime profile.person.timeZone "h:mm A"}}</span>
                <span class="highlight">{{local-moment model.scheduledCallTime profile.person.timeZone "z"}}</span>
              </span>
            {{/if}}
          {{/each}}
        </span>

        <a target="_blank" href={{model.pistachioUrl}}>View interaction page</a>
      </div>
    </header>

    <section class="profiles">
      <ul>
        {{#each profile in profiles}}
          <li>
            {{#as-profile
              person=profile.person
              title=profile.title
              class=profile.class}}
              {{#if profile.person.timeZone}}
                <div class="call-time">
                  {{#tool-tipster title=(local-moment model.scheduledCallTime profile.person.timeZone "h:mm A z")}}
                    <i></i>
                    <span>{{local-moment model.scheduledCallTime profile.person.timeZone "z"}}</span>
                  {{/tool-tipster}}
                </div>
              {{/if}}
            {{/as-profile}}
          </li>
        {{/each}}
      </ul>
    </section>

    <section class="checklist-items">
      <header>
        {{as-checklist-status items=checklistItems}}

        <a target="_blank" href={{model.checklistUrl}}>Show checklist</a>
      </header>

      <ul>
        {{#each checklistItem in checklistItems}}
          <li class={{if checklistItem.completed 'completed'}}>{{checklistItem.title}}</li>
        {{/each}}
      </ul>
    </section>
  </div>

  {{#as-form/submission-group as |group|}}
    {{#as-form/submission-action
      showConfirmation=true
      group=group
      action="withdrawAndCancel"
      confirmationLabel="Cancel"
      confirmationMessage="Are you sure?"}}
      Cancel Interaction
    {{/as-form/submission-action}}
  {{/as-form/submission-group}}
{{/as-side-panel}}
