<p>Credits Earned This Month: {{model.currentMonthCreditCount}}</p>
<p>Monthly Target: {{model.monthlyTarget}}</p>
<p>Weekday Hours Since Beginning of Month: {{controller.weekDayHoursSinceBeginningOfMonth}}</p>
<p>Total Weekday Hours in Month: {{controller.totalWeekDayHoursInCurrentMonth}}</p>
<p>Amount of Time in Month Completed: {{controller.monthCompletedFloat}}</p>
<p>Current Credit Target to Maintain Pace: {{controller.targetCreditProgressFraction}}</p>
