<div class="progress-bar"></div>
<p>Credits Earned This Month: {{currentMonthCreditCount}}</p>
<p>Monthly Target: {{monthlyTarget}}</p>
<p>Eclipsed Target: {{hasFulfilledTarget}}</p>
<p>Current Credit Target to Maintain Pace: {{onPaceCreditTarget}}</p>
<p>On Pace?: {{isOnPace}}</p>
