<div class="progress-bar"></div>
<p>Credits Earned This Month: {{model.currentMonthCreditCount}}</p>
<p>Monthly Target: {{model.monthlyTarget}}</p>
<p>Eclipsed Target: {{controller.hasFulfilledTarget}}</p>
<p>Current Credit Target to Maintain Pace: {{controller.onPaceCreditTarget}}</p>
<p>On Pace?: {{controller.isOnPace}}</p>
