<header>
  <div class="content">
    <h1>
      <span>{{advisor.name}}</span>

      <small>
        <a target="_blank" {{bind-attr href=project.pistachioUrl}}>
          {{project.name}}
        </a>
      </small>
    </h1>
  </div>
</header>

<section class="profiles">
  <ul>
    <li>{{as-profile person=advisor title="Advisor" class="advisor"}}</li>
    <li>{{as-profile person=clientContact title="Client" class="client"}}</li>
  </ul>
</section>

<section class="checklist-items">
  <header>
    {{as-checklist-status items=checklistItems}}

    <a target="_blank" {{bind-attr href=schedulingUrl}}>Schedule</a>
  </header>

  <ul>
    {{#each checklistItem in checklistItems}}
      <li {{bind-attr class="checklistItem.completed"}}>{{checklistItem.title}}</li>
    {{/each}}
  </ul>
</section>

<section class="scheduling-form">
  {{#as-form model=this}}
    {{#as-form-controls}}
      {{as-select name="date" label="Interaction Date" prompt="- Select -" class="small"}}
      {{as-select name="from" class="small" label="From" prompt="- Select -"}}
      {{as-select name="to" class="small" label="To" prompt="- Select -"}}
      {{as-select name="interactionType" class="small" label="Interaction Type" content=interactionTypes prompt="- Select -"}}
      {{as-select name="speak" class="small" label="Use Speak?" prompt="Yes"}}
      {{as-input name="speakDialIn" label="Speak Dial-in Number" class="small"}}
    {{/as-form-controls}}

    {{as-form-submission submitText="Schedule Interaction"}}
  {{/as-form}}
</section>