{{#as-side-panel class="interaction schedule-interaction" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  <header>
    <div class="content">
      <h1>
        <span>{{advisor.name}}</span>

        <small>
          <a target="_blank" {{bind-attr href=project.pistachioUrl}}>
            {{project.name}}
          </a>
        </small>
      </h1>
    </div>
  </header>

  <section class="profiles">
    <ul>
      <li>{{as-profile person=advisor title="Advisor" class="advisor"}}</li>
      <li>{{as-profile person=clientContact title="Client" class="client"}}</li>
    </ul>
  </section>

  <section class="scheduling">
    {{as-calendar
      selection=occurrence
      timeZoneOptions=timeZoneOptions
      occurrences=unavailabilityOccurrences}}

    <section class="form">
      {{#as-form model=this}}
        {{#as-form/fieldset}}
          {{as-form/input
            name="formattedScheduledCallTime"
            errorProperty="scheduledCallTime"
            label="Scheduled Call Time"
            disabled=true
            errorMessage="can't be blank, please select it from the calendar"}}

          {{as-form/select name="advisorPhoneCountryCode" label="Advisor Phone Number" content=phoneCountryCodes}}
          {{as-form/input name="advisorPhoneNumber" errorMessage="not a valid phone number"}}

          {{as-form/select
            name="interactionType"
            label="Interaction Type"
            contentBinding="interactionTypesForSelect"
            optionLabelPath="content.title"
            optionValuePath="content.id"
            optionGroupPath="classification"
          }}

          {{as-form/select name="clientAccessNumberCountry" label="Speak Dial-In Country" content=speakDialIns}}
          {{as-form/input name="additionalContactDetails" label="Additional Contact Details"}}
        {{/as-form/fieldset}}

        {{as-form/submission
          label="Schedule Interaction"
          cancelLabel="Cancel Interaction"
          cancel="cancel"
          submit="submit"
          cancelConfirmationMessage="Are you sure you want to cancel the scheduling?"
          requestPromise=requestPromise}}
      {{/as-form}}
    </section>
  </section>
{{/as-side-panel}}
