<header>
  <div class="content">
    <h1>
      <span>{{advisor.name}}</span>

      <small>
        <a target="_blank" {{bind-attr href=project.pistachioUrl}}>
          {{project.name}}
        </a>
      </small>
    </h1>
  </div>
</header>

<section class="profiles">
  <ul>
    <li>{{as-profile person=advisor title="Advisor" class="advisor"}}</li>
    <li>{{as-profile person=clientContact title="Client" class="client"}}</li>
  </ul>
</section>

<section class="scheduling">
  {{as-calendar
    value=scheduledCallTime
    timeZones=timeZones
    disabledTimeSlots=disabledTimeSlots}}
</section>
