<header>
  <div class="content">
    <h1>
      <span>{{advisor.name}}</span>

      <small>
        <a target="_blank" {{bind-attr href=project.pistachioUrl}}>
          {{project.name}}
        </a>
      </small>
    </h1>
  </div>
</header>

<section class="profiles">
  <ul>
    <li>{{as-profile person=advisor title="Advisor" class="advisor"}}</li>
    <li>{{as-profile person=clientContact title="Client" class="client"}}</li>
  </ul>
</section>

<section class="checklist-items">
  <header>
    {{as-checklist-status items=checklistItems}}
  </header>

  <ul>
    {{#each checklistItem in checklistItems}}
      <li {{bind-attr class="checklistItem.completed"}}>{{checklistItem.title}}</li>
    {{/each}}
  </ul>
</section>

<section class="scheduling">
  {{as-calendar
    selection=occurrence
    timeZoneOptions=timeZoneOptions
    occurrences=unavailabilities}}

  <section class="form">
    {{#as-form model=this}}
      {{#as-form/fieldset}}
        {{as-form/select name="date" label="Interaction Date"}}
        {{as-form/select name="from" label="From"}}
        {{as-form/select name="to" label="To"}}
        {{as-form/select name="interactionType" label="Interaction Type" content=interactionTypes}}
        {{as-form/select name="speak" label="Use Speak?" prompt="Yes"}}
        {{as-form/input name="speakDialIn" label="Speak Dial-in Number"}}
      {{/as-form/fieldset}}

      {{as-form/submission
        label="Schedule Interaction"
        cancel="cancel"
        submit="submit"
        targetObject=view
        cancelConfirmationMessage="Are you sure you want to cancel the scheduling?"
        requestPromise=requestPromise}}
    {{/as-form}}
  </section>
</section>
