{{#as-side-panel class="interaction schedule-interaction" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  {{#as-side-panel/main}}
    {{as-side-panel/header}}

    {{#as-side-panel/content}}
      <header>
        <div class="content">
          <h1>
            <span>{{model.advisor.name}}</span>

            <small>
              <a target="_blank" href={{model.project.pistachioUrl}}>
                {{model.project.name}}
              </a>
            </small>

            <span class="primary-contact">
              {{as-avatar person=model.primaryContact}}
            </span>
          </h1>
        </div>
      </header>

      <section class="profiles">
        <ul>
          <li>{{as-profile person=model.advisor title="Advisor" class="advisor"}}</li>
          <li>{{as-profile person=model.clientContact title="Client" class="client"}}</li>
        </ul>
      </section>

      <section class="scheduling">
        {{#as-calendar
          title="Schedule call"
          occurrences=occurrences
          dayStartingTime="7:00"
          dayEndingTime="21:30"
          timeSlotDuration="00:30"
          timeZoneOptions=timeZoneOptions
          showTimeZoneSearch=false
          timeZone=scheduleInteractionForm.timeZone
          onAddOccurrence="calendarAddOccurrence" as |occurrence timetable calendar|}}
          {{#if occurrence.content.isSelection}}
            {{as-calendar/timetable/occurrence
              class="selection"
              model=occurrence
              timeSlotHeight=calendar.timeSlotHeight
              timetable=timetable
              timeSlotDuration=calendar.timeSlotDuration
              isResizable=false
              onUpdate="calendarUpdateOccurrence"
              onRemove="calendarRemoveOccurrence"}}
          {{else}}
            {{as-calendar/occurrence
              model=occurrence
              timeSlotHeight=calendar.timeSlotHeight
              timeSlotDuration=calendar.timeSlotDuration}}
          {{/if}}
        {{/as-calendar}}

        <section class="form">
          {{#as-form model=scheduleInteractionForm action="scheduleInteraction" as |form|}}
            {{#as-form/fieldset}}
              {{#as-form/input
                form=form
                name="formattedScheduledCallTime"
                errorProperty="scheduledCallTime"
                label=scheduleInteractionForm.scheduledCallTimeLabel as |value|}}
                {{input
                  type="text"
                  name="formattedScheduledCallTime"
                  placeholder="Please select a call time from the calendar."
                  value=value
                  action="setScheduledCallTime"
                  on="focus-out"}}
              {{/as-form/input}}

              {{as-form/select form=form name="advisorPhoneCountryCode" label="Advisor Phone Number" content=scheduleInteractionForm.phoneCountryCodes}}
              {{as-form/input form=form name="advisorPhoneNumber" errorMessage="not a valid phone number"}}

              {{as-form/select
                form=form
                name="interactionType"
                label="Interaction Type"
                content=scheduleInteractionForm.interactionTypesForSelect
                optionGroupPath="classification"
              }}

              {{as-form/select form=form name="clientAccessNumberCountry" label="Speak Dial-In Country" content=scheduleInteractionForm.speakDialIns}}
              {{as-form/input form=form name="additionalContactDetails" label="Additional Contact Details"}}
            {{/as-form/fieldset}}

            {{#as-action-group}}
              {{#as-form/submit
                form=form
                requestPromise=scheduleInteractionForm.requestPromise}}
                Schedule Interaction
              {{/as-form/submit}}

              {{#as-action
                action="cancel"
                buttonClass="error"
                showConfirmation=true
                confirmationStateClass="alert"
                confirmationButtonLabel="Yes, Cancel Interaction"
                confirmationMessage="Are you sure you want to cancel the interaction?"
                requestPromise=requestPromise}}
                Cancel Interaction
              {{/as-action}}
            {{/as-action-group}}
          {{/as-form}}
        </section>
      </section>
    {{/as-side-panel/content}}
  {{/as-side-panel/main}}
{{/as-side-panel}}
