{{#as-side-panel class="unused-advisor" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  {{#as-side-panel/main}}
    {{as-side-panel/header}}

    {{#as-side-panel/content}}
      <header>
        <div class="content">
          <h1>
            <span>{{model.project.name}}</span>
            <small>{{model.project.codename}}</small>
          </h1>

          <span>
            <span>Contacted</span>
            <span class="terms-sent-at">{{ago model.termsSentAt}}</span>
          </span>
        </div>
      </header>

      <section class="profile">
        {{as-profile person=model.advisor title="Unused Advisor" class="advisor"}}
      </section>

      {{#as-expandable-list title="Email Correspondence"}}
        {{as-email-correspondence emails=emails actionHandler=this}}
      {{/as-expandable-list}}

      {{#as-expandable-list title="Project History"}}
        {{as-project-history projectHistory=projectHistory}}
      {{/as-expandable-list}}

    {{/as-side-panel/content}}

    {{#as-side-panel/footer}}
      {{#as-action-group}}
        {{#as-action
          action="remove"
          showConfirmation=true
          buttonClass="remove"
          confirmationStateClass="alert"
          confirmationButtonLabel="Yes, Remove Advisor"
          requestPromise=requestPromise}}
          Remove Advisor
        {{/as-action}}

        {{#as-action action="showFollowUp" requestPromise=requestPromise}}
          Follow Up
        {{/as-action}}
      {{/as-action-group}}
    {{/as-side-panel/footer}}
  {{/as-side-panel/main}}

  {{#as-side-panel/drawer}}
    {{#as-side-panel/content}}
      {{#if (eq drawerContent "emailComposer")}}
        {{as-email-composer
          model=emailDelivery
          templates=emailTemplates
          variables=emailVariables
          showPreview=displayingPreview}}
      {{/if}}

      {{#if (eq drawerContent "emailViewer")}}
        {{as-email-viewer email=selectedEmail}}
      {{/if}}
    {{/as-side-panel/content}}
      {{#as-side-panel/footer}}
        {{#as-action-group}}
          {{#if (eq drawerContent "emailComposer")}}
            {{#as-action action="send" requestPromise=requestPromise}}
              Send
            {{/as-action}}

            {{#as-action action="togglePreview"}}
              {{#if displayingPreview}}
                Edit
              {{else}}
                Preview
              {{/if}}
            {{/as-action}}
          {{/if}}

          {{#as-action action="close" class="close"}}Close{{/as-action}}
        {{/as-action-group}}
      {{/as-side-panel/footer}}
  {{/as-side-panel/drawer}}
{{/as-side-panel}}
