{{#as-side-panel class="unused-advisor" close="hideSidePanel" previous="previous" next="next" actionReceiver=sidePanel}}
  <div>
    <header>
      <div class="content">
        <h1>
          <span>{{model.project.name}}</span>
          <small>{{model.project.codename}}</small>
        </h1>

        <span>
          Contacted
          <span class="terms-sent-at">{{ago model.termsSentAt}}</span>
        </span>
      </div>
    </header>

    <section class="profile">
      {{as-profile
        person=model.advisor
        title="Unused Advisor"
        class="advisor"}}
    </section>
  </div>

  <section class="actions">
    <button class="remove" {{action "remove"}}>
      Remove Advisor
    </button>

    <button class="follow-up" {{action "followUp"}}>
      Follow Up
    </button>
  </section>
{{/as-side-panel}}
