{{#if this}}
  <ul>
    {{#each interaction in visibleInteractions}}
      <li>
        {{#link-to "dashboard.schedule-interaction" interaction.id tagName="article"}}
          <div class="title">
            <span>{{interaction.advisor.name}}</span>
            <small>{{interaction.project.name}}</small>
          </div>

          <div class="time">
            <span>Requested {{ago interaction.requestedAt}}</span>
          </div>

          {{as-checklist-status items=interaction.checklistItems showTooltip=true}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>

  {{#if canShowMoreInteractions}}
    <div class="expand-results" {{action "showMore"}} title="Show More"></div>
  {{else}}
    <div class="expand-results less" {{action "showLess"}} title="Show Less"></div>
  {{/if}}
{{else}}
  <div class="empty-message">You have no interactions to schedule.</div>
{{/if}}
