{{#if this}}
  <ul>
    {{#each interaction in this}}
      <li>
        {{#link-to "dashboard.schedule-interaction" interaction.id tagName="article"}}
          <div class="title">
            <span>{{interaction.advisor.name}}</span>
            <small>{{interaction.project.name}}</small>
          </div>

          <div class="time">
            <span>Requested {{moment interaction.requestedAt "D MMM, h:mm A"}}</span>
            <small>{{ago interaction.requestedAt}}</small>
          </div>

          {{as-checklist-status items=interaction.checklistItems showTooltip=true}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="empty-message">You have no interactions to schedule.</div>
{{/if}}
