{{#as-progress-bar class="current" ratio=progress}}
  {{tool-tipster class="tip" title="52"}}
{{/as-progress-bar}}

<div class="target"></div>
<div class="pace"></div>

{{!--
<p>Credits Earned This Month: {{currentMonthCreditCount}}</p>
<p>Monthly Target: {{monthlyTarget}}</p>
<p>Eclipsed Target: {{hasFulfilledTarget}}</p>
<p>Current Credit Target to Maintain Pace: {{onPaceCreditTarget}}</p>
<p>On Pace?: {{isOnPace}}</p>
--}}
