{{#if this}}
  <ul>
    {{#each interaction in this itemController="dashboard.interaction"}}
      <li>
        {{#link-to "dashboard.interaction" interaction.id tagName="article"}}
          <div class="title">
            <span>{{interaction.advisor.name}}</span>
            <small>{{interaction.project.name}}</small>
          </div>

          <div class="time">{{moment interaction.scheduledCallTime "h:mm A, D MMM"}}</div>

          {{as-checklist-status items=checklistItems showTooltip=true}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="empty-message">You have no upcoming interactions.</div>
{{/if}}
