{{#link-to "dashboard.schedule-interaction" model.id tagName="article"}}
  <div class="title">
    <span>{{model.advisor.name}}</span>
    <small>{{model.project.name}}</small>
  </div>

  <div class="avatar-container">

    {{#if isTeamView}}
      {{as-avatar person=model.primaryContact}}
    {{/if}}
  </div>

  <div class="time">
    <span>Requested {{ago model.requestedAt}}</span>
  </div>

  {{as-checklist-status items=model.checklistItems showTooltip=true}}
{{/link-to}}
