<ul>
  {{#each membership in model.memberships itemController="whiteboards.whiteboard.angle-membership"}}
    <li>
      <article>
        {{as-avatar person=membership.user}}
        {{super-number value=membership.deliveryTarget class="delivery-target"}}
        <button class="remove" tabindex="-1" {{action "remove" membership.model bubbles=false}}></button>
      </article>
    </li>
  {{/each}}
</ul>

{{#rl-dropdown-container class="dropdown add"}}
  {{#rl-dropdown-toggle}}
      <i></i>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown tagName="ul" class="team-members" closeOnChildClick=true}}
    <li class="input">
      {{#as-progress-indicator promise=requestPromise spinnerColor="#f88838"}}
        <i></i>
      {{/as-progress-indicator}}

      {{input type="text" value=query click=view.onSearchClick}}
    </li>

    <li class="results">
      <ul>
        {{#each member in unusedTeamMembers}}
          <li {{action "add" member}}>
            <article>
              {{as-avatar person=member}}

              <div class="name">
                {{member.name}}
              </div>
            </article>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/rl-dropdown}}
{{/rl-dropdown-container}}
