<div class="priority">
  {{as-priority-select project=model}}
</div>

<div class="details">
  <span>{{model.name}}</span>
  <small>{{model.clientCode}}</small>
</div>

<div class="members">
  {{as-avatar person=model.lead class="lead"}}

  {{#each member in nonLeadMembers}}
    {{as-avatar person=member}}
  {{/each}}
</div>

<div class="progress {{unless hasDeliveryTarget 'no-target'}}">
  {{as-progress-bar ratio=progress}}

  <div class="stats">
    <div class="delivered">
      <span class="count">
        {{model.deliveredAdvisorsCount}}
      </span>

      <span class="label">delivered</span>
    </div>

    <div class="target">
      <span class="count">
        {{model.deliveryTarget}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
