<div
  class='ember-scrollable tse-scrollable {{if this.horizontal 'horizontal'}} {{
    if this.vertical 'vertical'
  }}'
  ...attributes
  {{did-insert this.elementInserted}}
  {{on-resize this.update}}
>
  {{#if this.horizontal}}
    <EmberScrollbar
      @handleOffset={{this.horizontalHandleOffset}}
      @handleSize={{this.horizontalHandleSize}}
      @horizontal={{true}}
      @showHandle={{this.showHandle}}
      @isDragging={{this.isHorizontalDragging}}
      @onJumpTo={{this.horizontalJumpTo}}
      @onDrag={{this.horizontalDrag}}
      @onDragStart={{fn this.horizontalDragBoundary true}}
      @onDragEnd={{fn this.horizontalDragBoundary false}}
    />
  {{/if}}
  {{#if this.vertical}}
    <EmberScrollbar
      @handleOffset={{this.verticalHandleOffset}}
      @handleSize={{this.verticalHandleSize}}
      @horizontal={{false}}
      @showHandle={{this.showHandle}}
      @isDragging={{this.isVerticalDragging}}
      @onJumpTo={{this.verticalJumpTo}}
      @onDrag={{this.verticalDrag}}
      @onDragStart={{fn this.verticalBoundaryEvent true}}
      @onDragEnd={{fn this.verticalBoundaryEvent false}}
    />
  {{/if}}
  <ScrollContentElement
    @height={{this.scrollContentHeight}}
    @width={{this.scrollContentWidth}}
    @scrollToX={{this.scrollToX}}
    @scrollToY={{this.scrollToY}}
    @onScroll={{this.scrolled}}
  >
    <div class='tse-content scrollable-content'>
      {{yield
        (hash
          update=this.update
          scrollTop=(action 'scrollTop')
        )
      }}
    </div>
  </ScrollContentElement>
</div>