<div
  class='ember-scrollable tse-scrollable {{if horizontal 'horizontal'}} {{
    if vertical 'vertical'
  }}'
  {{did-insert this.elementInserted}}
  {{on-resize (action 'recalculate')}}
>
  {{#if horizontal}}
    {{ember-scrollbar
      handleOffset=horizontalHandleOffset
      handleSize=horizontalHandleSize
      horizontal=true
      showHandle=showHandle
      isDragging=isHorizontalDragging
      onJumpTo=(action 'horizontalJumpTo')
      onDrag=(action 'horizontalDrag')
      onDragStart=(action 'horizontalDragBoundary' true)
      onDragEnd=(action 'horizontalDragBoundary' false)
    }}
  {{/if}}
  {{#if vertical}}
    {{ember-scrollbar
      handleOffset=verticalHandleOffset
      handleSize=verticalHandleSize
      horizontal=false
      showHandle=showHandle
      isDragging=isVerticalDragging
      onJumpTo=(action 'verticalJumpTo')
      onDrag=(action 'verticalDrag')
      onDragStart=(action 'verticalBoundaryEvent' true)
      onDragEnd=(action 'verticalBoundaryEvent' false)
    }}
  {{/if}}
  {{#scroll-content-element
    height=scrollContentHeight
    width=scrollContentWidth
    scrollToX=scrollToX
    scrollToY=scrollToY
    onScroll=(action 'scrolled')
  }}
    <div class='tse-content scrollable-content'>
      {{yield
        (hash
          recalculate=(action 'recalculate')
          update=(action 'update')
          scrollTop=(action 'scrollTop')
        )
      }}
    </div>
  {{/scroll-content-element}}
</div>