{{resize-detector (concat '#' elementId) on-resize=(action 'recalculate')}}
{{#if double}}
  {{ember-scrollbar
    handleOffset=horizontalHandleOffset
    handleSize=horizontalHandleSize
    horizontal=true
    showHandle=showHandle
    isDragging=isHorizontalDragging
    mouseOffset=horizontalMouseOffset
    onJumpTo=(action 'horizontalJumpTo')
    onDrag=(action 'horizontalDrag')
    onDragStart=(action 'horizontalDragBoundary' true)
    onDragEnd=(action 'horizontalDragBoundary' false)
  }}
  {{ember-scrollbar
    handleOffset=verticalHandleOffset
    handleSize=verticalHandleSize
    horizontal=false
    showHandle=showHandle
    isDragging=isVerticalDragging
    mouseOffset=verticalMouseOffset
    onJumpTo=(action 'verticalJumpTo')
    onDrag=(action 'verticalDrag')
    onDragStart=(action 'verticalBoundaryEvent' true)
    onDragEnd=(action 'verticalBoundaryEvent' false)
  }}
{{else}}
  {{ember-scrollbar
    handleOffset=(if horizontal horizontalHandleOffset verticalHandleOffset)
    handleSize=(if horizontal horizontalHandleSize verticalHandleSize)
    horizontal=horizontal
    showHandle=showHandle
    isDragging=(if horizontal isHorizontalDragging isVerticalDragging)
    mouseOffset=(if horizontal horizontalMouseOffset verticalMouseOffset)
    onJumpTo=(action (concat '' (if horizontal 'horizontalJumpTo' 'verticalJumpTo')))
    onDrag=(action (concat '' (if horizontal 'horizontalDrag' 'verticalDrag')))
    onDragStart=(action (concat '' (if horizontal 'horizontalDragBoundary' 'verticalBoundaryEvent')) true)
    onDragEnd=(action (concat '' (if horizontal 'horizontalDragBoundary' 'verticalBoundaryEvent')) false)
   }}
{{/if}}
{{#scroll-content-element
  height=scrollContentHeight
  width=scrollContentWidth
  scrollToX=scrollToX
  scrollToY=scrollToY
  onScroll=(action 'scrolled')
}}
  <div class="tse-content scrollable-content">
    {{yield (hash
              recalculate=(action 'recalculate')
              update=(action 'update')
              scrollTop=(action 'scrollTop')
            )}}
  </div>
{{/scroll-content-element}}
