<label {{bind-attr for=name}}>
  {{#if label}}
    {{label}}
  {{else}}
    &nbsp;
  {{/if}}
</label>

<div class="content">
  {{yield}}
</div>

{{#if showError}}
  {{#if error}}
    <div class="error">
      {{error}}
    </div>
  {{/if}}
{{/if}}
