{{#as-form/field
  form=form
  name=name
  errorProperty=errorProperty
  errorMessage=errorMessage
  disabled=disabled
  label=label
  class="form-select" as |value|}}
  <select name={{name}} onchange={{action (mut value) value="target.value"}}>
    {{#if (not (eq prompt null))}}
      <option value={{null}} selected={{eq item.id null}}>
        {{prompt}}
      </option>
    {{/if}}

    {{#if optionGroupPath}}
      {{#each groupedContent as |group|}}
        <optgroup label={{group.label}}>
          {{#each group.content as |item|}}
            <option value={{item.id}} selected={{eq item.id value}}>
              {{item.name}}
            </option>
          {{/each}}
        </optgroup>
      {{/each}}
    {{else}}
      {{#each content as |item|}}
        <option value={{item.id}} selected={{eq item.id value}}>
          {{item.name}}
        </option>
      {{/each}}
    {{/if}}
  </select>
{{/as-form/field}}
