<div class="action {{if isCancelling 'active'}}">
  <button type="submit" {{action "toggleCancelling"}} disabled={{requestPromise.isLoading}}>
    {{#liquid-if requestPromise.isLoading}}
      Saving...
    {{else}}
      {{label}}
    {{/liquid-if}}
  </button>

  <div class="confirmation info">
    <span>{{cancelConfirmationMessage}}</span>
    <a {{action "toggleCancelling"}}>Back</a>

    <button type="submit" {{action "submit"}} class={{cancelConfirmationClass}} disabled={{requestPromise.isLoading}}>
      {{#liquid-if requestPromise.isLoading}}
        Cancelling...
      {{else}}
        {{cancelConfirmationLabel}}
      {{/liquid-if}}
    </button>
  </div>
</div>
