{{#if isCancelling}}
  <span>{{cancelConfirmationMessage}}</span>
  <a {{action "toggleCancelling"}}>Back</a>
  <button type="submit" {{action "cancel"}}>{{cancelConfirmationLabel}}</button>
{{else}}
  <button type="submit">{{label}}</button>

  {{#if showCancel}}
    <a {{action "toggleCancelling"}}>{{cancelLabel}}</a>
  {{/if}}
{{/if}}