<header>
  <div class="info">
    <div class="content">
      {{as-priority-select project=model}}

      <h1>
        <span>{{name}}</span>
        <small>{{clientCode}}</small>

        <a class="pistachio-link" {{bind-attr href=pistachioUrl}} target="_blank">
          <i></i>
        </a>
      </h1>
    </div>

    <div class="project-lead">
      {{as-avatar user=lead}}
    </div>
  </div>

  <div class="stats">
    <ul>
      <li>
        <span class="count">{{deliveredAdvisorsCount}}</span>
        <span class="name">Delivered</span>
      </li>

      <li>
        <span class="count">{{scheduledInteractionsCount}}</span>
        <span class="name">Upcoming</span>
      </li>

      <li>
        <span class="count">{{notScheduledInteractionsCount}}</span>
        <span class="name">Left to Schedule</span>
      </li>

      <li>
        <span class="count">{{deliveryTarget}}</span>
        <span class="name">Target</span>
      </li>
    </ul>
  </div>
</header>

<section class="angles">
  <ul>
    {{#each angles}}
      <li>
        <article>
          <h1>{{title}}</h1>

          {{render "teams.team.angle-memberships" this tagName="section"}}
        </article>
      </li>
    {{/each}}
  </ul>
</section>
