<div class="priority">
  {{as-priority-select project=model}}
</div>

<div class="details">
  <span>{{name}}</span>
  <small>{{clientCode}}</small>
</div>

<div class="members">
  {{as-avatar person=lead class="lead"}}

  {{#each member in members}}
    {{as-avatar person=member}}
  {{/each}}
</div>

<div {{bind-attr class=":progress hasDeliveryTarget::no-target"}}>
  {{as-progress-bar ratio=progress}}

  <div class="details">
    <div class="delivered">
      <span class="count">
        {{deliveredAdvisorsCount}}
      </span>

      <span class="label">delivered</span>
    </div>

    <div class="target">
      <span class="count">
        {{deliveryTarget}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
