{{#link-to "dashboard.interaction" interaction.id tagName="article"}}
  <div class="title">
    <span>{{interaction.advisor.name}}</span>
    <small>{{interaction.project.name}}</small>
  </div>

  <div class="avatar-container">
    {{#if isTeamView}}
      {{as-avatar person=interaction.primaryContact}}
    {{/if}}
  </div>

  <div class="time">
    <span>{{moment interaction.scheduledCallTime "D MMM, h:mm A"}}</span>
    <small>{{ago interaction.scheduledCallTime}}</small>
  </div>

  {{as-checklist-status items=interaction.checklistItems showTooltip=true}}
{{/link-to}}
