<section>
  <LinkTo @route='index'>
    Home
  </LinkTo>
  This page is for demonstrating more advanced / potentially real world uses of ember-scrollable. Please feel free to make additions if you see fit.
</section>
<section class="vertical-demo">
  <h1>Synchronized Scrolling</h1>

  <div class="output">
    {{!-- BEGIN-SNIPPET vertical --}}
    <div style="height: 400px;">
      <EmberScrollable @scrollToY={{this.scrollToY}} @onScrollY={{action (mut this.scrollToY)}}>
        <p>
          <DraggableObject @content={{this}}>
            Drag Me!
          </DraggableObject>
        </p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
      </EmberScrollable>
    </div>
    {{!-- END-SNIPPET --}}
  </div>

  <div class="output">
    {{!-- BEGIN-SNIPPET vertical --}}
    <div style="height: 400px;">
      <EmberScrollable @scrollToY={{this.scrollToY}} @onScrollY={{action (mut this.scrollToY)}}>
        <p>
          <DraggableObject @content={{this}}>
            Drag Me!
          </DraggableObject>
        </p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
        <p>Some content</p>
        <p>Some more content</p>
      </EmberScrollable>
    </div>
    {{!-- END-SNIPPET --}}
  </div>
</section>
