<section class="application">
  {{#as-sidebar
    applicationName="Phoenix"
    currentUser=currentUser.model
    navigationItems=navigationItems
    actionItems=actionItems
    actionsTarget=this
    isCollapsed=preferences.sidebarCollapsed
    toggleCollapse="savePreferences"}}
    <li class="advisor-search">
      <a href={{advisorSearchUrl}} target="_blank">
        <i></i>
        <span>Advisor Search</span>
      </a>
    </li>
  {{/as-sidebar}}

<main>
  {{#as-quick-jump}}
    <div class="content">
      <ul class="navigation-actions">
        <li>
          <button class="change-app" {{action "toggleAppSwitcher"}}></button>
        </li>
      </ul>
    </div>
  {{/as-quick-jump}}

  {{as-app-switcher active=showAppSwitcher onClickOverlay="toggleAppSwitcher"}}

    {{#as-scrollable class="content"}}
      {{outlet}}
    {{/as-scrollable}}

    {{outlet "side-panel"}}
  </main>
</section>
