{{#as-sidebar
  applicationName="Phoenix"
  currentUser=currentUser.model
  navigationItems=navigationItems
  actionItems=actionItems
  actionsTarget=this
  isCollapsed=preferences.sidebarCollapsed
  toggleCollapse="savePreferences"}}
  <li class="advisor-search">
    <a href={{advisorSearchUrl}} target="_blank">
      <i></i>
      <span>Advisor Search</span>
    </a>
  </li>
{{/as-sidebar}}

<main>
  {{as-quick-jump}}

  {{#as-scrollable class="content"}}
    {{outlet}}
  {{/as-scrollable}}

  {{outlet "side-panel"}}
</main>

{{#if showAppSwitcher}}
  <div class="app-switcher-overlay" {{action "toggleAppSwitcher"}}></div>

  <div class="app-switcher-modal">
    <header>
      <h1>Switch Context</h1>
    </header>

    <ul>
      <li>Pistachio</li>
      <li>Octopus</li>
      <li>Reporting</li>
    </ul>
  </div>
{{/if}}

<div class="app-switcher-toggle" {{action "toggleAppSwitcher"}}>
  <i></i>
</div>
