<header>
  <div class="select">
    {{view "select"
      content=teams
      optionLabelPath="content.name"
      prompt=currentUser.model.name
      selection=selectedTeam}}
  </div>
</header>

<ul class="widgets">
  <li class="performance">
    {{as-widget/performance performance=model.deliveryPerformance}}
  </li>

  <li class="upcoming-interactions">
    {{as-widget/upcoming-interactions
      model=upcomingInteractions
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>

  <li class="interactions-to-schedule">
    {{as-widget/interactions-to-schedule
      model=interactionsToSchedule
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>

  <li class="unused-advisors">
    {{as-widget/unusedAdvisors
      unusedAdvisors=unusedAdvisors
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>
</ul>
