<header>
  {{as-team-switcher
    teams=teams
    prompt=currentUser.name
    selectTeam="selectTeam"
    teamId=teamId}}
</header>

<ul class="widgets">
  <li class="performance">
    {{as-widget/performance performance=model.deliveryPerformance}}
  </li>

  <li class="scheduled-interactions">
    {{as-widget/scheduled-interactions
      model=scheduledInteractions
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>

  <li class="interactions-to-schedule">
    {{as-widget/interactions-to-schedule
      model=interactionsToSchedule
      isTeamView=isTeamView
      teamMembers=teamMembers}}
  </li>

  <li class="unused-advisors">
    {{#if isTeamView}}
      {{as-widget/teamUnusedAdvisors teamMembers=teamMembers store=store}}
    {{else}}
      {{as-widget/unusedAdvisors model=unusedAdvisors}}
    {{/if}}
  </li>
</ul>
