<div class="priority">
  {{#as-dropdown title="Change Priority" align="right" classNameBindings=":change-priority :priority status"}}
    {{#as-dropdown-item class="low"}}<button {{action "setPriority" "low"}}></button>{{/as-dropdown-item}}
    {{#as-dropdown-item class="medium"}}<button {{action "setPriority" "medium"}}></button>{{/as-dropdown-item}}
    {{#as-dropdown-item class="high"}}<button {{action "setPriority" "high"}}></button>{{/as-dropdown-item}}
  {{/as-dropdown}}
</div>

<div class="details">
  <h1>
    <span>{{name}}</span>
    <small>{{clientCode}}</small>
  </h1>
</div>

<div class="members">
  {{render "avatar" analyst_1 class="lead"}}

  {{#each members}}
    {{render "avatar" this}}
  {{/each}}
</div>

<div class="progress">
  {{as-progress-bar ratio=progress}}

  <div class="details">
    <div class="proposed">
      <span class="count">
        {{proposedAdvisorsCount}}
      </span>

      <span class="label">proposed</span>
    </div>

    <div class="target">
      <span class="count">
        {{totalTarget}}
      </span>

      <span class="label">target</span>
    </div>
  </div>
</div>
