<div {{bind-attr class=":priority status"}}>
  <div></div>
</div>

<div class="details">
  <h1>
    <span>{{name}}</span>
    <small>{{clientCode}}</small>
  </h1>
</div>

<div class="members">
  {{render "avatar" analyst_1 class="lead"}}

  {{#each members}}
    {{render "avatar" this}}
  {{/each}}
</div>

<div class="counts">
  <div>
    {{render "count" upcomingInteractionsCount class="upcoming"}}
    {{render "count" leftToScheduleAdvisorsCount class="left-to-schedule"}}
    {{render "count" remainingTarget class="daily-remaining-target"}}
  </div>
</div>
