<header>
  {{as-team-switcher
    teams=teams
    prompt=currentUser.name
    selectTeam="selectTeam"
    teamId=teamId}}

    <a href={{newProjectUrl}} target="_blank">New Project</a>
    <a href={{projectsSearchUrl}} target="_blank">Projects Search</a>
    <a href={{advisorsSearchUrl}} target="_blank">Advisors Search</a>
</header>

{{as-projects
  projects=model
  filterPriority=filterPriority
  listItemComponent="as-project-list-item"
  onProjectClick="showProject"
  teamMembers=teamMembers}}
