<header>
  <div class="beta-alert">
    You're trying out the new Whiteboard.
    You can <a {{bind-attr href=pistachioUrl}}>go back to the old one</a> or <a {{action "submitFeedback"}}>submit feedback</a>.
  </div>

  <div {{bind-attr class=":team-select showTeamSelect:open"}}>
    {{#if showTeamSelect}}
      <div class="select">
        {{view "select"
          content=model
          value=selectedTeam
          change=onTeamSelectChange
          optionLabelPath="content.name"}}
      </div>
    {{else}}
      <h1>{{selectedTeam.name}}</h1>
    {{/if}}

    {{#if multipleTeamsAvailable}}
      <label><button class="toggle" {{action "toggleTeamSelect"}}>Change Team</button></label>
    {{/if}}
  </div>
</header>

{{outlet}}
