<header>
  <div class="beta-alert">
    You're trying out the new Whiteboard.
    You can <a {{bind-attr href=pistachioUrl}}>go back to the old one</a> or <a {{action "submitFeedback"}}>submit feedback</a>.
  </div>


  <div class="team-name">
    {{#if teamSelecting}}
      {{view "select" content=teams value=selectedTeam change=selectedTeamDidChange optionLabelPath="content.name" class="team-selector"}}
      <button class="close" {{action "closeTeamSelector"}}></button>
    {{else}}
      <h1 {{action "selectTeam"}}>{{name}}</h1>
    {{/if}}
  </div>
</header>

{{render "team.projects" tagName="section"}}
