<header>
  <div class="beta-alert">
    You're trying out the new Whiteboard.
    You can <a href={{pistachioUrl}}>go back to the old one</a> or <a {{action "submitFeedback"}}>submit feedback</a>.
  </div>

  <div class="whiteboard-select {{if showWhiteboardSelect 'open'}}">
    {{#if showWhiteboardSelect}}
      <div class="select">
        {{#x-select value=selectedWhiteboard action="changeSelectedWhiteboard"}}
          {{#each groupedWhiteboards as |group|}}
            <optgroup label={{group.label}}>
              {{#each group.content as |whiteboard|}}
                {{#x-option value=whiteboard}}{{whiteboard.name}}{{/x-option}}
              {{/each}}
            </optgroup>
          {{/each}}
        {{/x-select}}
      </div>
    {{else}}
      <h1>{{selectedWhiteboard.name}}</h1>
    {{/if}}

    {{#if multipleWhiteboardsAvailable}}
      <label><button class="toggle" {{action "toggleWhiteboardSelect"}}>Change Whiteboard</button></label>
    {{/if}}
  </div>
</header>

{{outlet}}
